<?xml version="1.0" encoding="UTF-8"?>
<taglib xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd"
        version="2.0">
    <tlib-version>1.0</tlib-version>
    <short-name>bsh</short-name>
    <uri>bikeSharing</uri>
    <tag>
        <name>validationMessage</name>
        <tag-class>by.training.sharing.validation.ValidationMessageTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <description>Field name to get validation message</description>
            <name>fieldName</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>Value of attribute is key for extraction validation messages. Object of
                validation messages put in response attribute.
                Validation messages object is type (by.training.sharing.validation.ValidationResult)
            </description>
            <name>validationMessages</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
</taglib>