<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="url" tagdir="/WEB-INF/tags" %>
<nav class="navbar">
    <div class="navbar-menu">
        <div class="navbar-end">
            <span class="navbar-item">
                <a class="button is-light is-inverted" href="<url:langChange name="lang" value="en"/>">
                    <span><fmt:message key="links.lang.en"/></span>
                </a>
            </span>
            <span class="navbar-item">
                <a class="button is-light is-inverted" href="<url:langChange name="lang" value="ru"/>">
                    <span><fmt:message key="links.lang.ru"/></span>
                </a>
            </span>
        </div>
    </div>
</nav>